.card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-lg);
  padding: var(--padding-md);
  background-color: var(--background-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detailSection {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}

.cardHeading {
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.cardSubHeading {
  font-size: var(--font-size-lg);
  color: var(--text-color-secondary);
  font-weight: 300;
}

.detailLabel,
.detailText,
.detailEmail {
  font-size: var(--font-size-md);
  color: var(--text-color-secondary);
}

.detailLabel {
  font-weight: 200;
}

.detailEmail {
  color: var(--color-main);
}
