.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: center;
  gap: var(--flex-gap-md);
  padding: var(--padding-lg);
  text-align: center;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: var(--border-radius-md);
}

.message {
  font-size: var(--font-size-lg);
  color: var(--text-color-secondary);
}
