.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--flex-gap-md);
  padding: var(--padding-lg);
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #fef2f2;
  border: 1px solid #fecaca;
  border-radius: var(--border-radius-md);
}

.message {
  font-size: var(--font-size-lg);
  color: #dc2626;
  font-weight: 500;
}
